NUXT_PUBLIC_LOCAL_URL=http://localhost:3000/
DATABASE_URL=file:./dev.db

# Redcap
REDCAP_API_TOKEN=
REDCAP_API_URL=https://redcap.utdallas.edu/api/
PROGRAM_START_DATE=2026-01-12

# Testing
TEST_INTERN_ID=67
TEST_SITE_MANAGER_ID=123
TEST_ADMIN_ID=47
